.my-img {
  filter: brightness(50%);
}

.carousel-caption {
  top: 30%;
}

.explore-bg {
  background-color: #f4fafd;
}

.h-ready-to-join {
  height: 300px;
}

.image-custom {
  height: auto;
  width: 90px;
}
